<!--{includes:[],title:"About"}-->
<p>RankedVote is a web-app designed to make <i>Instant Run-off Voting</i> accessible to everyone. It was written for the Google App Engine platform by Michael Vaganov as a side-project during Summer 2016.</p>
<h1>What is Instant Run-off Voting?</h1>
<a href="https://en.wikipedia.org/wiki/Instant-runoff_voting">Wikipedia</a><br>
<a href="https://youtu.be/_5SLQXNpzsk">YouTube</a><br>
<br>
<h1>Note from the author:</h1>
<p>Mankind needs good decision-making tools.</p>