<style>
  .i {height:{{state.data.imgh}};width:{{state.data.imgw}};display:{{state.data.imgdisp}};}
  .imgdisp {display:{{state.data.imgdisp}};}
  .ciddisp {display:{{choiceID}};}
</style>
<hr>
<h1 style="color:red">WORK IN PROGRESS</h1>
<h1>Really? Delete {{state.title}}?</h1>
<hr>
<h1>{{state.title}}</h1><p ng-bind-html="state.data.prompt"></p>
<table border=0 class="maxwidth"><tr><td>
  <span class="unslct">unselected</span>
  <div class="choices unslct" id="THEMAINLIST"><!--ng-sortable="opts"-->
    <div ng-repeat="choice in state.data.candidates"><div class="rounded choice"><table><tr>
      <td><img src="{{choice[2]}}" alt="{{choice[0]}}" class="i"></td>
      <td><p ng-bind-html="choice[1]"></p></td>
    </tr></table></div></div>
  </div>
</td><td>
  <div class="maxwidth">
    <span class="slcted">best choices, in order</span>
    <div class="rounded chosen slcted" id="userChoices"><!--ng-sortable="opts"-->
      <div ng-repeat="choice in state.data.choices"><div class="rounded choice">
        <table><tr>
          <td>{{$index+1}}</td>
          <td><img src="{{choice[2]}}" alt="{{choice[0]}}" class="i"></td>
          <td><p ng-bind-html="choice[1]"></p></td></tr><tr>
          </tr>
        </table>
      </div></div>
    </div>
  </div>
</td></tr></table>
<button ng-click="submit()" class="submitbutton clearbutton maxwidth" id="sbmt">
  <h1>Yes, Delete (cannot be undone)</h1>
</button>
<br><div id="response"></div>
<br>