<!--{includes:["angular.min.js","angular-sanitize.min.js","Sortable.js","ng-sortable.js","common.js","stringbonus.js","irv_validate.js","jsonstate.js","choiceid.js","edit.js"],title:"Edit Debate"}-->
<style>
  .i {height:{{state.data.imgh}};width:{{state.data.imgw}};display:{{state.data.imgdisp}};}
  .imgdisp {display:{{state.data.imgdisp}};}
  .ciddisp {display:{{choiceID}};}
</style><br>
<table class="maxwidth"><tr><td>
<select id="SCOPE.state.data.visibility" onchange="SCOPE.state.data.visibility=this.value;">
  <option value="private">private - not in a directory, but the link can be shared</option>
  <option value="public" >public - a link can be found in the public debate list</option>
  <option value="hidden" >hidden - can no longer be accessed at all</option>
  <option value="deleted" ng-if="state.id">deleted - hidden access, will be removed soon</option>
</select><br>

<select id="optiondisp" onchange="setStyle('display',this.value,['debateoptions']);SCOPE.$digest();">
  <option value="none">advanced options hidden</option>
  <option value="">advanced options shown</option>
</select><br>

<div style="display:none" id="debateoptions" class="rounded">
  <select id="SCOPE.state.data.votability" onchange="SCOPE.state.data.votability=this.value;">
    <option value="anyone" >anyone - anyone can vote or change their vote</option>
    <option value="closed" >closed - no additional voting possible, results only</option>
  <!--
      <option value="exclusive">debate is exclusive - only specific users can see it</option>
      <option value="admin">votes are admin approved - an administrator allows your vote to count</option>
  -->
  </select><br>

  <select id="SCOPE.choiceID" onchange="SCOPE.choiceID=this.value;SCOPE.$digest();">
    <option value="none">use automatic choice identifiers</option>
    <option value="">customize choice identifiers</option>
  </select><br>

  <select id="SCOPE.state.data.candidateOrder" onchange="SCOPE.state.data.candidateOrder=this.value;SCOPE.$digest();">
    <option value=""      >Randomize candidate order during vote</option>
    <option value="fixed" >Use exactly this order during vote</option>
<!--
    <option value="result">Order candidates by current results</option>
-->
  </select><br>

  <select id="SCOPE.state.data.userSuggestion" onchange="SCOPE.state.data.userSuggestion=this.value;SCOPE.$digest();">
    <option value=""    >vote only - voters cant offer additional suggestions</option>
    <option value="once">one suggestion - each voter can offer just one suggestion</option>
<!--
    <option value="open">open discussion - voters can offer any number of suggestions</option>
-->
  </select><br>

<!--
  <select id="jsoninsertoption" onchange="setStyle('display',this.value,['jsoninsert','jsoninsertbutton']);SCOPE.refresh();SCOPE.$digest();">
    <option value="none">hide JSON editor</option>
    <option value="">show JSON editor</option>
  </select><input id="jsoninsertbutton" type='button' value="use the following JSON" onclick='insertJSON();' style="display:none"></input><br>
  <textarea id="jsoninsert" cols=40 rows=10 class="maxwidth" style="display:none;font-family:courier;" placeholder="code for insert JSON (optional)"></textarea>
-->
</div>

</td>
</tr></table>
<input id="SCOPE.state.title" placeholder="title (required)" class="maxwidth" onkeyup="SCOPE.state.title=this.value;" style="font-size:30px;"></input><br>
<textarea rows=4 id="SCOPE.state.data.prompt" placeholder="prompt (optional)" class="maxwidth" onkeyup="SCOPE.state.data.prompt=this.value;">If your top choice could not possibly win, your vote automatically transfers to the next choice.</textarea><br>
<div ng-sortable="opts" id="THEMAINLIST" class="choices">
  <div ng-repeat="choice in state.data.candidates" class="rounded vbuffered"><table><tr>
    <td rowspan=2><input placeholder="identifier" name="{{$index}}" style="max-width:80px;" id="cid{{$index}}" class="ciddisp"
      onkeyup="SCOPE.state.data.candidates[parseInt(this.name)][0]=this.value;" value="{{choice[0]}}"></input></td>
    <td rowspan=2>&nbsp;&nbsp;&nbsp;&nbsp;<br>
    </td>
    <td class="maxwidth"><input placeholder="choice text" name="{{$index}}" class="maxwidth" style="min-width:80px" onkeyup="SCOPE.state.data.candidates[parseInt(this.name)][1]=this.value;" value="{{choice[1]}}"></input></td>
    <!-- TODO make a settings option: delete, chosen by default, unchosen by default, preferred color-->
    <td rowspan=2><input type='button' style="color:red;" name="{{$index}}" onclick="SCOPE.state.data.candidates.splice(parseInt(this.name),1);SCOPE.$digest();" value='x'></input></td>
  </tr></table></div>
</div>

<input type='button' class="rounded add maxwidth" ng-click="state.data.candidates.push(['','','']);" value='+ add choice  ' style="font-size:2em"></input>
<br><br>

<div ng-if="state.data.addedCandidate">
  <h1>User Added Suggestions</h1>
  <div ng-sortable="opts" id="additions" class="choices">
    <div ng-repeat="choice in state.data.addedCandidate" class="rounded vbuffered"><table><tr>
      <td rowspan=2><input placeholder="identifier" name="{{$index}}" style="max-width:80px;" id="cid{{$index}}" class="ciddisp"
        onkeyup="SCOPE.state.data.addedCandidate[parseInt(this.name)][0]=this.value;" value="{{choice[0]}}"></input></td>
      <td rowspan=2>&nbsp;&nbsp;&nbsp;&nbsp;<br>
      </td>
      <td class="maxwidth"><input placeholder="choice text" name="{{$index}}" class="maxwidth" style="min-width:80px" onkeyup="SCOPE.state.data.addedCandidate[parseInt(this.name)][1]=this.value;" value="{{choice[1]}}"></input></td>
      <!-- TODO make a settings option: delete, chosen by default, unchosen by default, preferred color-->
      <td rowspan=2><input type='button' style="color:red;" name="{{$index}}" onclick="SCOPE.state.data.addedCandidate.splice(parseInt(this.name),1);SCOPE.$digest();" value='x'></input></td>
    </tr></table></div>
  </div>
</div>

<br>
<!--
<hr>
preview below
<hr>
<h1>{{state.title}}</h1><p ng-bind-html="state.data.prompt"></p>
<table border=0 class="maxwidth"><tr><td>
  <span class="unslct">unselected</span>
  <div class="choices unslct" id="THEMAINLIST">
    <div ng-repeat="choice in state.data.candidates"><div class="rounded choice"><table><tr>
      <td><p ng-bind-html="choice[1]"></p></td>
    </tr></table></div></div>
  </div>
</td><td>
  <div class="maxwidth">
    <span class="slcted">best choices, in order</span>
    <div class="rounded chosen slcted" id="userChoices">
      <div ng-repeat="choice in state.data.choices"><div class="rounded choice">
        <table><tr>
          <td>{{$index+1}}</td>
          <td><p ng-bind-html="choice[1]"></p></td></tr><tr>
          </tr>
        </table>
      </div></div>
    </div>
  </div>
</td></tr></table>
<hr>
end preview
<hr>
-->
<input type='button' ng-click="submit()" class="submitbutton clearbutton maxwidth" id="sbmt" style="font-size:2em" value="submit"></input>
<br>
<br><div id="response"></div>
<br>
<table class="maxwidth" ng-if="state.id"><tr><td width=33%>
  <a id="reslink" ng-href="../result/{{state.id}}">see results</a>
</td><td style="text-align:center" width=33%>
  <a id="adminvotelink" ng-href="../vote/{{state.id}}">vote</a>
</td><td style="text-align:right" width=33%>
  <a id="adminvotelink" ng-href="../votex/{{state.id}}">admin vote</a>
</td></tr></table>
